<div id="header-wrap">
  <div class="header-header">
    <div class="container row">
      <div class="header-logo section" id="header-logo" name="Header Logo"><div class="widget Header" data-version="2" id="Header1">
        <div class="header-widget">
          <a class="header-brand">
            <img alt="Spicer" data-height="116" data-width="257" src="//1.bp.blogspot.com/-DPzJ5_wlX8o/W3PFTYuGKyI/AAAAAAAAC2I/1n7t73HPfj0zdAaop6Land8i8wBf15xUwCK4BGAYYCw/s1600/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-menu">
  <div class="container row">
    <span class="mobile-menu-toggle"></span>
    <div class="main-menu section" id="main-menu" name="Main Menu">
      <div class="widget LinkList show-menu" data-version="2" id="LinkList74">
        <ul id="main-menu-nav" role="menubar">
          <li style="margin-left: 100px;"><a [routerLink]="['/blog/home']" role="menuitem">Home</a></li>
          <li class="has-sub"><a [routerLink]="['/blog/myarticles']" role="menuitem">My Articles</a></li>

  </ul>
  <ul style="float: right; margin-left: 60px" >
      <li><a  role="menuitem" style="float : right" [routerLink]="['/blog/newarticle']">New Article</a></li>
      <li><a  role="menuitem" style="float : right">Logout</a></li>
  </ul>
  </div></div>

  <span class="show-search"></span>
  </div>
  <div class="mobile-menu-wrap">
  <div class="mobile-menu"><ul id="main-menu-nav" role="menubar">
  <li><a href="/" role="menuitem">Home</a></li>
  <li class="has-sub"><a href="#" role="menuitem">Features</a><ul class="sub-menu m-sub"><li class="has-sub"><a href="#" role="menuitem">Multi DropDown</a><ul class="sub-menu2 m-sub"><li><a href="#" role="menuitem">DropDown 1</a></li><li><a href="#" role="menuitem">DropDown 2</a></li><li><a href="#" role="menuitem">DropDown 3</a></li></ul><div class="submenu-toggle"></div></li><li><a href="https://spicer-way2themes.blogspot.com/p/post-format-and-page-markup.html" role="menuitem">ShortCodes</a></li><li><a href="https://www.sorabloggingtips.com/2017/01/how-to-add-sitemap-widget-in-blogspot-blogs.html" role="menuitem">SiteMap</a></li><li><a href="https://spicer-way2themes.blogspot.com/way2themes" role="menuitem">Error Page</a></li></ul><div class="submenu-toggle"></div></li>







  <li><a role="menuitem">Documentation</a></li>
  <li><a role="menuitem">Video Documentation</a></li>
  <li><a  role="menuitem">Download This Template</a></li>
  </ul></div>
  </div>
  </div>
  </div>
