<div id="header-wrap">
  <div class="header-header">
    <div class="container row">
      <div class="header-logo section" id="header-logo" name="Header Logo"><div class="widget Header" data-version="2" id="Header1">
        <div class="header-widget">
          <a class="header-brand">
            <img alt="Spicer" data-height="116" data-width="257" style=" width: 250px !important;" src="../../../assets/img/blog.jpg">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header-menu">
  <div class="container row">
    <span class="mobile-menu-toggle"></span>
    <div class="main-menu section" id="main-menu" name="Main Menu">
      <div class="widget LinkList show-menu" data-version="2" id="LinkList74">
        <ul id="main-menu-nav" role="menubar">
          <li style="margin-left: 100px;"><a [routerLink]="['/blog/home']" role="menuitem">Home</a></li>
          <li class="has-sub"><a [routerLink]="['/blog/myarticles']" role="menuitem">My Articles</a></li>

        </ul>
        <ul style="float: right; margin-left: 60px" >
            <li><a  role="menuitem" style="float : right" [routerLink]="['/blog/newarticle']">New Article</a></li>
            <li><a  role="menuitem" style="float : right"  (click)="logout()">Logout</a></li>
        </ul>
        </div>
    </div>

  <span class="show-search"></span>
  </div>
  <div class="mobile-menu-wrap">
  <div class="mobile-menu">
    <ul id="main-menu-nav" role="menubar">
      <li style="margin-left: 100px;"><a [routerLink]="['/blog/home']" role="menuitem">Home</a></li>
      <li style="margin-left: 100px;"><a [routerLink]="['/blog/myarticles']" role="menuitem">My Articles</a></li>
      <li style="margin-left: 100px;"><a  role="menuitem"  [routerLink]="['/blog/newarticle']">New Article</a></li>
      <li style="margin-left: 100px;"><a  role="menuitem"  (click)="logout()">Logout</a></li>
  </ul>
</div>
  </div>
  </div>
  </div>
