<div class="content-new-article">
  <div class="row">
    <form  [formGroup]="myForm" (ngSubmit)="save()">
      <div style="color: #cc2478; font-weight: bold"><h3>New Article</h3></div>
        <div class="example-container">
            <mat-form-field>
              <input autocomplete="off" formControlName="title" matInput placeholder="Title">
            </mat-form-field>

            <mat-form-field>
                <mat-select placeholder="Category" formControlName="category">
                  <mat-option [value]="category._id" *ngFor="let category of categories" >{{category.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
              <textarea matInput [froalaEditor] placeholder="Context" formControlName="context"></textarea>
            </mat-form-field>

        </div>
        <button type="submit" mat-button style="float: right; background-color: #68B3C8; color: white"> Save</button>

    </form>

  </div>

</div>
