<form   [formGroup]="formFildes" (ngSubmit)="login()">
  <div class="imgcontainer">
    Login
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" formControlName="name" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>

  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div> -->
</form>
