<form   [formGroup]="myForm" (ngSubmit)="login()">
  <div class="imgcontainer">
    Login
  </div>

  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" formControlName="email" placeholder="Enter Username" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" formControlName="password" placeholder="Enter Password" name="psw" required>



  </div>

 <div class="container">
    <button type="submit" class="cancelbtn">Login</button>
    <span class="psw">   <a [routerLink]="['/register']">New User</a></span>
  </div>
</form>
