<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.author.name}} {{article.author.lastname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image width="200" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p [innerHTML]="article.context">
    </p>
  </mat-card-content>
  <mat-card-actions>
      <div class="stats">
          <i class="ti-comment" style="color:#68B3C8 "></i><small style="color:#68B3C8; padding-right: 10px; ">2 comments</small>
          <i class="ti-heart" style="color:#cc2478  "></i><small style="color:#cc2478  ; padding-right: 10px;">{{article.like?.like}} Likess</small>

        </div>
  </mat-card-actions>
</mat-card>
