<div class="row">

  <div class="col-md-12">
      <div class="card padding-card">
          <!--  <div class="header">
                      <h4 class="title">Category</h4>
                  </div> -->
          <div class="content page-container" >
              <div class="left-container ">

                  <ul class="list-style-none">
                      <li class="box-label"><a href="javascript:void(0)" (click)="openDialog()">Category <span class="ti-plus"></span></a></li>
                      <li class="divider"></li>

                  </ul>
                  <div style="overflow: auto">
                    <ul class="list-style-none">
                        <li><a href="javascript:void(0)">ALL</a></li>
                        <li><a href="javascript:void(0)" >Work <span class="ti-close"></span></a></li>
                        <li><a href="javascript:void(0)" >Family <span class="ti-close"></span></a></li>
                        <li><a href="javascript:void(0)">Friends <span class="ti-close"></span></a></li>
                        <li><a href="javascript:void(0)">Private <span class="ti-close"></span></a></li>
                    </ul>


                </div>
              </div>

              <div class="rigth-container ">
                  <div class="right-page-header">
                      <div class="d-flex">
                          <div class="align-self-center">
                              <h4 class="card-title m-t-10">All articles </h4></div>
                          <div class="ml-auto">
                              <input type="text"  [(ngModel)] = "filterText" id="demo-input-search2" placeholder="Search Article" class="form-control"> </div>
                      </div>
                  </div>

                  <div class="table-responsive">
                      <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list footable-loaded footable" data-page-size="10">
                          <thead>
                              <tr>
                                  <th class="footable-sortable">Title<span class="footable-sort-indicator"></span></th>
                                  <th class="footable-sortable">Article<span class="footable-sort-indicator"></span></th>

                                  <th class="footable-sortable">Date<span class="footable-sort-indicator"></span></th>
                                  <th class="footable-sortable">Author<span class="footable-sort-indicator"></span></th>

                                  <th class="footable-sortable">Category<span class="footable-sort-indicator"></span></th>
                                  <th class="footable-sortable">Action<span class="footable-sort-indicator"></span></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let a of articles | Articlefilter: filterText" class="footable-even">
                                  <td>{{a.title  | slice:0:14}}
                                      <span *ngIf="a.context.toString().length>15">...</span>
                                  </td>
                                  <td>{{a.context  | slice:0:14}}
                                    <span *ngIf="a.context.toString().length>15">...</span>
                                  </td>
                                  <td>{{a.date |date}}</td>

                                  <td>
                                      <a href="app-contact-detail.html">
                                        <img src="../assets/img/new_logo.png" alt="user" class="img-circle">
                                        {{a.author?.name}}  {{a.author?.lastname}}
                                      </a>
                                  </td>
                                  <td><span class="label label-danger">{{a.category?.name}}</span> </td>

                                  <td>
                                      <button type="button" style="background-color: white; color: black;   border-color: white;" (click)="deleteArticle(a._id)" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                  </td>
                              </tr>

                          </tbody>
                          <tfoot>
                              <tr>
                                  <td colspan="2">
                                      <!-- <button type="button" class="btn btn-info btn-rounded" data-toggle="modal" data-target="#add-contact">Add New Contact</button> -->
                                  </td>

                                  <td colspan="7">
                                      <div class="text-right">
                                          <ul class="pagination"> <li class="footable-page-arrow disabled"><a data-page="first" href="#first">«</a></li><li class="footable-page-arrow disabled"><a data-page="prev" href="#prev">‹</a></li><li class="footable-page active"><a data-page="0" href="#">1</a></li><li class="footable-page"><a data-page="1" href="#">2</a></li><li class="footable-page-arrow"><a data-page="next" href="#next">›</a></li><li class="footable-page-arrow"><a data-page="last" href="#last">»</a></li></ul>
                                      </div>
                                  </td>
                              </tr>
                          </tfoot>
                      </table>
                  </div>

              </div>
          </div>
      </div>

  </div>

</div>
