<div class="container-fluid">


    <div class="row">
        <div class="col-lg-4 col-sm-4" >
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="icon-big icon-warning text-center">

                             <a href="#" >
                                <img  alt="user" width="90%" style="border: 1px solid #F1EAE0;"   src="../assets/img/new_logo.png"></a>
                            </div>
                            <hr>
                        </div>
                        <div class="col-xs-12">
                            <span style="float: right;">
                            </span>

                            <h3 class="box-title m-b-0">Title</h3>


                            <address>
                             fghfh hfghf hfgf fhfgh fgh fh es dgdg dgdgd gdgdg dgdgdg dg dgdgd gdgdgdg dgdfg
                             dgdgdgg dgdgd dgdfgdgd dgdgdg dgdgd dgdg d dgdgdg jhj juhk gghu jkdss

                            </address>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">

                            <i class="ti-comment" style="color:#68B3C8 "></i><small style="color:#68B3C8; padding-right: 10px; ">2 comment</small>
                            <i class="ti-heart" style="color:#cc2478  "></i><small style="color:#cc2478  ; padding-right: 10px;">2 Like</small>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    </div>



