<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="title"><b>{{article.title}}</b></mat-card-title>
    <mat-card-subtitle>{{article.author.name}} {{article.author.lastname}}</mat-card-subtitle>
  </mat-card-header>
  <img *ngIf="article?.path" mat-card-image [src]="article?.path" alt="Picture Not found">

  <img *ngIf="article?.path==undefined " mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Picture Not found">
  <mat-card-content [innerHTML]="slice(article.context)">

  </mat-card-content>
  <mat-card-actions>
    <div class="stats">
      <i class="ti-comment" style="color:#68B3C8 "></i><small style="color:#68B3C8; padding-right: 10px; "> 2 comments</small>
      <a (click)="likeArticle(id, article._id)"> <i class="ti-heart" style="color:#cc2478"></i><small style="color:#cc2478  ; padding-right: 10px;"><span *ngIf="article.like?.like>0">{{article.like?.like}}</span>
          Like</small></a>
      <a (click)="seeMore(article)"><small mat-button style="float: right">See More</small></a>
    </div>
  </mat-card-actions>
</mat-card>
