<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.author.name}} {{article.author.lastname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{article.context | slice:0:25}}
      <span *ngIf="article.context.length>24">...</span>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="stats">
      <i class="ti-comment" style="color:#68B3C8 "></i><small style="color:#68B3C8; padding-right: 10px; "> 2 comments</small>
      <a (click)="likeArticle(id, article._id)"> <i class="ti-heart" style="color:#cc2478"></i><small style="color:#cc2478  ; padding-right: 10px;"><span *ngIf="article.like?.like>0">{{article.like?.like}}</span>
          Like</small></a>
      <a (click)="seeMore(article)"><small mat-button style="float: right">See More</small></a>
    </div>
  </mat-card-actions>
</mat-card>
